.lane__item-fixed {
    position: relative;
    width: 100%;
    z-index: 99999;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(148,151,165,0.55);
    -moz-box-shadow: 0px 15px 25px 0px rgba(148,151,165,0.55);
    box-shadow: 0px 15px 25px 0px rgba(148,151,165,0.55);
    transition: .2s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    border-radius: 4px;
    
    
    .header-block {
      position: relative;
      text-transform: uppercase;
      background-color: $primary_color;
      color: $white_color;
      .header-block__lane {
        position: relative;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 5px;
        z-index: 1;
      }
      .header-block__name {
        position: relative;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
        z-index: 1;
      }
      .header-block__lane-name {
        position: absolute;
        right: 5px;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        font-size: 48px;
        color: #78a356;
        font-weight: 500;
        z-index: 0;
        text-transform: uppercase;
      }
    }
    .odometer__status {
      display: flex;
      align-items: center;
      justify-content: flex-start;
        &--bad-condition {
          background-image: url('../images/odometer_bad_condition.svg');
        }
        &--good-condition {
          background-image: url('../images/odometer_good_condition.svg');
        }
        &--icon {
          width: 22px;
          height: 22px;
          display: block;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &--value{
          font-size: 16px;
          margin-left: 10px;
        }
    }
    .bidding {
      display: flex;
      align-items: center;
      justify-content: flex-start;
        &__status {
          width: 22px;
          height: 22px;
          display: block;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('../images/bid_status.svg')
        }
        &__value {
          font-size: 16px;
          margin-left: 10px;
        }
    }
  }