.lanes {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    height: calc(100vh - 10px);
    scroll-behavior: smooth;
    .lane__item {
      position: relative;
      min-width: 42%;
      padding: 10px 10px 0;
      overflow: auto;
      &:first-child {
        padding-left: 10px;
      }
      &:nth-child(even) {
        background-color: #efefef;
      }
    }
  }
  