.lanes {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    height: 100vh;
    .lane__item { 
      position: relative;
      min-width: 42%;
      padding: 10px 10px 0;
      overflow: auto;
      padding-bottom: calc(100vh - 180px);
      &:first-child {
        padding-left: 10px;
      }
      &:nth-child(even) {
        background-color: #efefef;
        .lane__item-fixed{
          &:before {
            content: '';
            height: 20px;
            width: 100%;
            position: absolute;
            top: -20px;
            background-color: #efefef;
          }
        }
      }
    }
  }
  .odometer-ico {
    width: 18px;
    height: 18px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .odometer__status--bad-condition {
    background-image: url('../images/odometer_bad_condition.svg');
  }
  .odometer__status--good-condition {
    background-image: url('../images/odometer_good_condition.svg');
  }

  /*Bootstrap Changes*/
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 5px;
  border-radius: 4px;
}
.list-group-item {
  position: relative;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  padding: 6px;
  &:first-child {
    border-radius: $radius_blocks $radius_blocks 0 0;
  }
  &:last-child {
    border-radius: 0 0 $radius_blocks $radius_blocks;
  }
}

  