.popup_block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 9999999;
    // border-radius: 6px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.15);
    .popup__bid-proxy {
        background:none;
        height: 100%;
        .list-group-item {
            padding: 10px 15px;
            background: none;
        }
        .lights-vir {
            &__lights {
                & span {
                    width: 18px;
                    height: 18px;
                    margin-right: 15px;
                }
            }
            &__bell-star {
                & span {
                    width: 18px;
                    height: 18px;
                    margin-right: 15px;
                }
            }
        }
        &_title {
            text-transform: uppercase;
            font-weight: 500;
            &--lane {
                font-size: 21px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &--name {
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &_announcements {
            display: flex;
            align-items: center;
            &--title {
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
            }
            &--description {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
            }
        }
        .popup__bid-proxy_info {
            padding: 0;
            .inner-info {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-size: 14px;
                padding: 10px 15px;
                font-weight: 500;
                &:nth-child(odd) {
                    background: #e4e8ec6b;
                }
                &__name {
                    min-width: 100px;
                    text-align: right;
                    margin-right: 15px;
                }
                &__value {
                    text-transform: uppercase;
                    &--select {
                        text-transform: uppercase;
                        border: none;
                        background: none;
                        color: $text_color;
                        font-weight: 500;
                        width: 100%;
                    }
                }
                &__auction-status {
                    margin-left: auto;
                    font-size: 10px;
                    color: $btn_red;
                }
            }
            
        }
        .popup__bid-proxy_bid-info {
            padding: 0;
            display: flex;
            height: 100%;
            overflow: hidden;
            &--online-bid {
                font-size: 14px;
                width: 50%;
                border-right: 1px solid rgba(0,0,0,.25);
                overflow: scroll;
                .inner-wrap__bid-info {
                    padding: 10px 15px;
                    & .online-bid__item {
                        margin-bottom: 15px;
                    }
                    & .online-bid__item:first-child {
                        color: $primary_color;
                        font-weight: 600;
                    }
                }
               
            }
            &--vehicle-info {
                width: 50%;
                
                .vehicle-info__item {
                    font-size: 14px;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    overflow: scroll;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:nth-child(odd) {
                        background: rgba(228,232,236,.4);
                    }
                    & b {
                        font-weight: 600;
                    }
                }
            }
        }
        &_bidding {
            position: relative;
            min-height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .circle-bidding {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 72px;
                width: 72px;
                background-color: $primary_color;
                border: 1px solid #76ab4c;
                border-radius: 100%;
                z-index: 10;
                &:before {
                    content: " ";
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background: $primary_color;
                    margin: 0 auto 10px auto;
                    position: absolute;
                    z-index: -1;
                    animation: move 2.5s linear 10000 normal
                }
                &:after {
                    content: '';
                    position: absolute;
                    background: url('../images/white_bid_ico.svg') center center no-repeat;
                    width: 36px;
                    height: 36px;
                }
                & img {
                    width: 36px;
                    height: 36px;
                }
            }
            .line-bidding {
                display: flex;
                position: absolute;
                width: 50%;
                max-width: 220px;
                height: 28px;
                z-index: 1;
                border-radius: 40px;
                &__proxy {
                    position: relative;
                    background: $grey_color;
                    height: 100%;
                    width: 100%;
                    border-radius: 40px 0 0 40px;
                    &:before {
                        content: '';
                        position: absolute;
                        background: url('../images/arrows.svg') no-repeat center center;
                        background-size: contain;
                        width: 52px;
                        height: 10px;
                        display: block;
                        top:0;
                        bottom: 0;
                        right: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 30px;
                        opacity: 0.8;
                    }
                }
                &__bid-up {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background: $grey_color;
                    border-radius: 0 40px 40px 0;
                    &:before {
                        content: '';
                        position: absolute;
                        background: url('../images/arrows.svg') no-repeat center center;
                        background-size: contain;
                        width: 52px;
                        height: 10px;
                        display: block;
                        top:0;
                        bottom: 0;
                        left: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-left: 30px;
                        opacity: 0.8;
                        transform: rotate(180deg);
                    }
                    
                }
                &__bid-up.disable__bid-up-block{
                    opacity: .3;
                }
            }
            .value-proxy_bidding {
                display: flex;
                justify-content: space-between;
                width: 100%;
                position: absolute;
                &__proxy {
                    width: 100%;
                    max-width: 80px;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                }
                &__bid-up {
                    width: 100%;
                    max-width: 90px;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
    }
    

    .close__popup {
        background: $btn_red;
        color: $white_color;
        padding: 6px 16px;
        border:1px solid #c54242;
        border-radius: $btn_radius;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(170,37,37,0.2);
        -moz-box-shadow: 0px 10px 25px 0px rgba(170,37,37,0.2);
        box-shadow: 0px 10px 25px 0px rgba(170,37,37,0.2);
        transition: .3s;
        cursor: pointer;
        &:hover {
        transform: translateY(-3px);
        -webkit-box-shadow: 0px 10px 25px 0px rgba(170,37,37,0.5);
        -moz-box-shadow: 0px 10px 25px 0px rgba(170,37,37,0.5);
        box-shadow: 0px 10px 25px 0px rgba(170,37,37,0.5);
        }
    }
    
}

.close {
    display: none;
}
.wrap__btn--close {
    display: flex;
    align-items: center;
    justify-content: center;
}



@keyframes move{
    0% {transform:scale(0.5);opacity:0}
    75%{transform:scale(1.5);opacity:0.7}
    100%{transform:scale(2);opacity:0}
}