@charset "UTF-8";
// @import "~bootstrap/scss/bootstrap";
@import 'reset';
@import 'fonts';
@import 'vars';
@import 'vir_conditions';
@import 'lane';
@import 'lane_fixed_item';
@import 'lane_dynamic_item';
@import 'settings_btn';

body {
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $text_color;
}

