@charset "UTF-8";
// @import "~bootstrap/scss/bootstrap";
@import 'reset';
@import 'fonts';
@import 'vars';
@import 'vir_conditions';
@import 'lane';
@import 'lane_fixed_item';
@import 'lane_dynamic_item';

body {
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $text_color;
}

/*Bootstrap Changes*/
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 5px;
  border-radius: 4px;
}
.list-group-item {
  position: relative;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px 5px;
  &:first-child {
    border-radius: $radius_blocks $radius_blocks 0 0;
  }
  &:last-child {
    border-radius: 0 0 $radius_blocks $radius_blocks;
  }
}
