@charset "UTF-8";
// @import "~bootstrap/scss/bootstrap";
@import 'reset';
@import 'fonts';
@import 'vars';
@import 'vir_conditions';
@import 'lane';
@import 'lane_fixed_item';
@import 'lane_dynamic_item';
@import 'settings_btn';
@import 'popup_block';

body {
  -webkit-appearance: initial;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $text_color;
  height: 100vh;
  min-height: 600px;
}
input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 
