
.lights-vir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (max-width: 374px) {
    flex-wrap: wrap;
  }
  .lights-vir__lights {
    margin: 3px 0;
    display: flex;
    flex-wrap: wrap;
   
    @media all and (max-width: 425px) {
      margin: 2px 0;
    }
    & span {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 2px;
      &:first-child {
        margin-left: 0;
      }
      @media all and (max-width: 425px) {
        width: 8px;
        height: 8px;
      }
    }
    .lights-vir__lights--green {
      background: $primary_color;
      border: 1px solid #82b15d;
    }
    .lights-vir__lights--orange {
      background: $orange_color;
      border: 1px solid #ed853b;
    }
    .lights-vir__lights--grey {
      background: $grey_color;
      border: 1px solid #5c6575;
    }
    .lights-vir__lights--blue {
      background: $blue_color;
      border: 1px solid #3177b4;
    }
   
  }
  .ligths-vir__vir {
    margin: 3px 0;
    .vir__condition {
      padding: 6px 8px;
      border-radius: 3px;
      color: #fff;
      display: block;
      text-align: center;
      min-width: 36px;
    }
  }
  .lights-vir__bell-star {
    margin: 3px 0;
    display: flex;
    margin-left: auto;
    & span {
      width: 14px;
      height: 14px;
      display: block;
      margin-right: 5px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      @media all and (max-width: 425px) {
        width: 10px;
        height: 10px;
      }
    }
    .lights-vir__bell-active {
      background-image: url('../images/filled_bell.svg'); 
    }
    .lights-vir__bell-unactive {
      background-image: url('../images/outline_bell.svg'); 
    }
    .lights-vir__star-active {
      background-image: url('../images/filled_star.svg'); 
    }
    .lights-vir__star-unactive {
      background-image: url('../images/outline_star.svg'); 
    }
  }
}
.lights-vir-bell {
  .ligths-vir__vir {
    display: flex;
    justify-content: flex-end;
    @media all and (max-width: 374px) {
      width: 100%;
    }
    .vir__condition {
      @media all and (max-width: 374px) {
        width: 100%;
      }
    }
  }
}
.condition__new {
  background-color: #5fbcd3;
  border: 1px solid #53a8bd;
}
.condition__exelent {
  background-color: #80e93a;
  border: 1px solid #71d231;
}
.condition__good {
  background-color: #bcd35f;
  border: 1px solid #b2cc4b;
} 
  